* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: antiquewhite;
    font-family: 'Noto Sans', sans-serif;}

h3 {
    font-size: large;
    text-align: center;
    margin: 1em;
    
}

#input_fields {
    text-align: center;
    background-color: rgb(0, 0, 0);
}

label {
    display: hidden;
}

.field {
    text-align: left;
    margin: 0.5em;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 255, 0);
}

#list {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

button {
    width: 7.5em;
    height: 2em;
    margin: 5px;
    border-radius: 1em;
    border-style: none;
    background-color: rgb(0, 255, 0);
}

.dynBtn {
    width: 2em;
    height: 2em;
    margin: 5px 0px 10px 10px;
    border-radius: 1em;
    color: rgb(0, 255, 0);
    font-size: 1.5em;
    background-color: rgb(0, 0, 0);
    border-width: 0em;
}

div {
    display: inline-block;
}